body{
	background-color: #EFEFEF;
}
.verticalCenter{
  margin-top:15%;
}
.container {
	margin-top: 2em;
}

#crossButton {
	display: none !important;
}
.hackyhack {
  position: relative;
}
.hackyhack .datepicker-inline {
	margin-left: auto;
	margin-right: auto;
	border: thin solid rgb(0, 114, 206);
	box-shadow: 0px 0px 20px 3px rgba(0, 114, 206,0.25);
}
 
 .talkerText {
 	text-align:center;
 	margin: 2em 0 0 0;
	color: rgb(0, 114, 206);
	font-family: sans-serif;
	font-size: xx-large;
 }
 
.confirmBox {
 	display: none;
 	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
}
.confirmBox.show {
	display: block;
}
.confirmBox {
    width: 100px;
    height: 100px;
}

.confirmBox > svg {
    width: 100%;
    display: block;
}